* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  
}
body {
  background-color: #0d3213;
}
.App {
  width: 100%;
  height: 100vh;

  font-family: "Nanum Pen Script";

  font-size: 1.2rem;
}

.h4 {
  text-align: center;
  font-size: 2rem;
}

/* Header */
.header {
  width: 100%;
  margin-bottom: 10px;
}
.imgBackground {
  height: 200px;
  width: 100%;
}
.imgBackground img {
  width: 100%;
  height: 100%;
}
.nameRickandMorty {
  text-align: center;
}
.nameRickandMorty img {
  width: 30%;
  min-width: 280px;
}
/* input */
.containerInputId {
  width: 100%;
  margin: 10px 0;

  display: flex;
  justify-content: center;
}
.inputId {
  width: 40%;
  min-width: 250px;
  height: 30px;

  text-decoration: none;
  border: none;
}

input:focus {
  outline: none;
}
.button {
  width: 50px;

  border: none;

  background: linear-gradient(to bottom, #0e843f, #e7fb9a);
}

/* Location */
.containerLocation {
  width: 100%;

  margin-top: 10px;

  display: flex;
  justify-content: center;

  background: -webkit-linear-gradient(#e7fb9a, #0e843f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.infoLocation {
  max-width: 1000px;
  height: 150px;
  text-align: center;
  padding: 10px;
}
.descriptionLocation {
  width: 100%;

  display: flex;
  justify-content: space-evenly;
}
.DescriptionSpecific {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* card */
.ResidentList {
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  background-color: #0d3213;


}
.childResidentList{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.containerCardC{
  min-width: 280px;
  min-height: 420px;
}
.containerCard {
  width: 250px;
  height: 400px;

  margin: 20px;

  background: linear-gradient(to bottom, #e7fb9a, #0e843f);

  box-shadow: 10px 10px 10px #e7fb9a;

  position: relative;

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerCard:hover {
  width: 280px;
  height: 420px;
  margin: 0px;

  transition-property: left, top, height, width;
  transition-duration: 0.3s;
}
.containerImg {
  width: 250px;
  padding: 0 10px;

  position: relative;
}
.containerImg img {
  width: 100%;

  border-radius: 100%;
}
.containerDescriptionPerson,
.h4 {
  background: -webkit-linear-gradient(black, #0e843f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.statusCaracter {
  min-width: 50px;

  left: 10px;
  top: 20px;

  position: absolute;
  z-index: 99;

  font-size: 1rem;

  background-color: rgba(128, 128, 128, 0.442);

  display: flex;
  justify-content: center;
  align-items: center;
}
.circleStatus {
  width: 7px;
  height: 7px;

  margin: 5px;

  border-radius: 100%;
}
.containerDescriptionPerson {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.containerDescriptionSpecific {
  display: flex;
}
.DescriptionSpecific {
  width: 65px;
  margin: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  font-size: 1.3rem;
}
/* count poblation */

.containerCountPoblation {
  text-align: center;

  font-size: 3.3rem;
  background: -webkit-linear-gradient(#e7fb9a, #0e843f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* pagination */
.pagination {
  width: 100%;
  display: flex;
  justify-content: center;

  padding: 20px;
}
.burronPagination {
  padding: 10px;
  height: 35px;
  background-color: #81df03;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  border-radius: 5px;
  font-weight: bold;
  margin: 1px;
}
.buttonNumbersPagination {
  padding: 10px;
  height: 35px;
  background-color: #81df03;
  border: none;

  border-radius: 5px;
  margin: 1px;
  font-weight: bold;
}
a{
  text-decoration: none;
  color:#FFF;
}
/* ------------------------------------------------------------------------------- */

@media (min-width: 500px) {
  .infoLocation {
    width: 80%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
  }
}
